/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}



.anchor-pane{
    -fx-background-color : "#FBF7F4";
}

.btn{
    -fx-border-radius:"50px";
}
.left-cover{
    -fx-background-color: "#739E82";
    -fx-background-radius:10;
}
.table{
    -fx-background-radius:10;
}